.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: beige;
  border: solid black 1px;
  padding: 5px;
}

.menu{
  display: flex;
  list-style: none;
}

.menu li{
  margin-left: 25px;
}
